 <!doctype html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://old.assets-landingi.com/assets/js/landend/export.js"></script>
    <script>
        $(function() {
            var landingApi = "https://www.landingiexport.com";
            var landingUrl = "http://Rc9Xfyr6.dotests.com";
            var landingHash = "dAUf0cc9Te74qvmfN615";
            getLandingPage(landingApi, landingUrl, landingHash);
        });
    </script>
</head>
<body>
</body>
</html>